@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bebas-neue: var(--bebas-neue);
  --font-ibm-plex-sans: var(--ibm-plex-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans, sans-serif);
}

.fade-in-element {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.animate-fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

.animate-heartbeat {
  animation: heartbeat 4.6s ease-out infinite;
}
